.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  display: flex;
  flex-flow: column;
  background-color: #393e46;
  border-radius: 1rem;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 40px;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
}

.ipro {
  border-radius: 6rem;
}

.blinks {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.blinks button{
  padding: 15px 32px;
  border-radius: 8px;

}
